aio-pika==6.6.1
aiormq==3.2.2
click==7.1.2
fastapi==0.58.1
h11==0.9.0
idna==2.10
motor==2.1.0
multidict==4.7.6
pamqp==2.3.0
pydantic==1.5.1
pymongo==3.10.1
starlette==0.13.4
uvicorn==0.11.5
websockets==8.1
yarl==1.4.2
